# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/sshConfigs.xml
/.idea/deployment.xml
/.idea/webServers.xml
/.idea/jsLibraryMappings.xml
#/misc.xml
#/modules.xml
/node_modules/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# secret values #
.env
# https cert #
localhost-key.pem
localhost.pem